.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    justify-content: center;
  }
  
  .blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blogBox {
    width: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }

  .blogBox h2{
    font-size: 25px;
    overflow-wrap: break-word;
  }
  
  .blogBox:hover {
    background-color: #eaeaea;
  }