ul {
    list-style-type: none;
    
    align-items: center;
    text-align: center;
    }

li {
    display: inline;
    font-size: large;
}

a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}




